<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       <%= locals.t %>
    </title>
    <link rel = "stylesheet" href = "/css/home.css">
</head>
<body>
    <h1>Contacts List</h1>
    
    <div>
        <ul>
            <% for (let i of contact_list){ %>
                <li>
                    <div>
                        <p> <%= i.name %> </p>
                        <p><%= i.phone %></p>
                    </div>
                    <div >
                            <a href = "/delete-contact/<%= i.phone %>">delete</a>
                    </div>

                    <!-- <div>
                        <button type ='submit'>Delete</button>
                    </div> -->
                    
                </li>
            <% } %>
        </ul>
    </div>

    <form action = "/create-contact", method="post">
        <input type="text" name="name" placeholder="Enter name">
        <input type="number"  name="phone" placeholder = "Enter phone">
        <button type="submit"> Add </button>
    </form>
    <script type = "text/javascript" src="/js/home.js"></script>
</body>
</html>